mixin editTeamModal(team)
	div(class="modal fade", id=team._id+"_modal", tabindex="-1", role="dialog", aria-labelledby=team.name+"_label")
		div(class="modal-dialog", role="document")
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &times;
					h4(class="modal-title", id=team.name+"_label")= "Editing " + team.name
				.modal-body
					form(id=team._id+"_form")
						input(type="hidden", value=team._id, name="id", id=team._id+'_id')
						.form-group
							label(for=team._id+"_teamName") Team Name
							input(type="text", class="form-control", id=team._id+"_teamName", name="name", value=team.name)
						.form-group
							label(for=team._id+"_teammates") Members
							p(class="help-block") Enter the names of the members separated by newlines.
							textarea(class="form-control", rows="5", id=team._id+"_teammates", name="teammates")
								|
								each member in team.teammates
									| #{member}
				.modal-footer
					button(type="button", class="btn btn-default", data-dismiss="modal") Cancel
					button(type="button", class="btn btn-primary", data-dismiss="modal", id=team._id+"_save") Save
					button(type="button", class="btn btn-danger", data-dismiss="modal", id=team._id+"_remove") Delete

mixin genericModal(id, title)
	.modal.fade(id=id, tabindex="-1", role="dialog", aria-labelledby=id+"_label")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button(type="button", class="close", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title(id=id+"_label")= title
				.modal-body(id=id+"_modalBody")
					if block
						block
				.modal-footer
					button(type="button", class="btn btn-default", data-dismiss="modal") Cancel
					button(type="button", class="btn btn-primary", data-dismiss="modal", id=id+"_save") Save
					button(type="button", class="btn btn-danger", data-dismiss="modal", id=id+"_remove" disabled="disabled") Delete

mixin navbar(active)
	div(class="navbar navbar-default navbar-fixed-top")
			div(class="container-fluid")
				div(class="navbar-header")
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-main", aria-expanded="false", aria-controls="navbar")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="/") Campbell's Beach League
				
				div(id="navbar-main", class="collapse navbar-collapse")
					ul(class="nav navbar-nav")
						if active == "home"
							li.active
								a(href="/") Home
						else
							li
								a(href="/") Home
						if active == 'schedule'
							li.active
								a(href="/schedule") Schedule
						else
							li
								a(href="/schedule") Schedule
						if active == 'stats'
							li.active
								a(href="http://challonge.com/beachleague17") Stats
						else
							li
								a(href="http://challonge.com/beachleague17") Stats
						if active == 'rules'
							li.active
								a(href="/rules") Rules
						else
							li
								a(href="/rules") Rules
						if active == 'setup'
							li.active
								a(href="/setup") Setup