doctype html
include mixins
html
	include head
		script(src="js/setup.js")
		title Setup
	body
		
		+navbar('setup')
		
		.text-center
			h1 Tournament Setup
		div(class="container panel with-nav-tabs")
			.panel-heading
				ul(class="nav nav-tabs")
					li(class="active")
						a(data-toggle="tab" href="#settingsPanel") Settings
					li
						a(data-toggle="tab" href="#createTournament") Tournaments
					li
						a#teamPanelButton(data-toggle="tab" href="#createTeams") Teams
					li
						a(data-toggle="tab" href="#createMatches") Matches
					li
						a(data-toggle="tab" href="#createPlayers") Players

			div(class="panel-body tab-content")
				div(class="tab-pane fade in active", id="settingsPanel")
					form#settingsForm
						.form-group
							label(for="currentWeek") Current Week
							select.form-control#currentWeek(name="currentWeek")
								option(value="1") June 1
								option(value="2") June 8
								option(value="3") June 15
								option(value="4") June 22
								option(value="5") June 29
								option(value="6") July 6
								option(value="7") July 13
						.form-group
							label(for="currentTournament") Active Tournament
							select.form-control#currentTournament(name="currentTournament")
								option(value='') No Tournament
						.form-group
							label(for="welcomeMessage") Welcome Message
							textarea.form-control#welcomeMessageBlock(rows="3", name="welcomeMessage")
					button.btn.btn-default#saveSettings(type="button") Save Settings

				div(class="tab-pane fade in", id="createTournament")
					form#tournamentForm
						.form-group
							label(for="tournamentName") Tournament Name
							input(type="text" class="form-control", id="tournamentName", name="name")
					button(type="button", class="btn btn-default", id="addTournamentButton") Create Tournament
					hr
					.list-group#tournamentGroup
						each tournament in tournaments
							button(class="list-group-item", type="button", data-toggle="modal", data-target="#"+tournament._id+'_modal', id=tournament._id+'_list')= tournament.name
				div(class="tab-pane fade in", id="createTeams")
					.list-group#teamGroup
					button.btn.btn-default#addTeamButton(type="button", data-toggle="modal", data-target="#teamModal") Add Team
					+genericModal('teamModal', 'New Team')
						form#teamForm
							input#teamModal_id(type="hidden", name="id")
							.form-group
								label(for="tournaments_team") Tournament
								select(class="form-control", id="tournaments_team", name="tournament")
									each tournament in tournaments
										option(value=tournament._id)= tournament.name
							.form-group
								label(for="teamName") Team Name
								input(type="text", class="form-control", id="teamName", name="name")
							label Teammates
							ul.list-group#teammateGroup
				div(class="tab-pane fade in", id="createMatches")
					+genericModal('matchModal', 'New Match')
						form#matchForm(class="form-horizontal")
							input#matchModal_id(type="hidden", name="id")
							.form-group
								.col-lg-12
									label(for="tournaments") Tournament
									select(class="form-control", id="tournaments", name="tournament")
										each tournament in tournaments
											option(value=tournament._id)= tournament.name
							.form-group
								.col-lg-12
									label(for="round") Round (or Week)
									input(type="number", class="form-control", id="round", name="round")
							.form-group
								.col-lg-6
									label(for="home") Home
									select(class="form-control", id="home", name="home")
										each team in teams
											option(value=team._id)= team.name
								.col-lg-6
									label(for="away") Away
									select(class="form-control", id="away", name="away")
										each team in teams
											option(value=team._id)= team.name
							.form-group
								.col-lg-12
									label(for="date") Date
									input(type="date", class="form-control", id="date", name="date")
							.form-group
								.col-lg-12
									label(for="time") Time
									input(type="time", class="form-control", id="time", name="time")
					.btn-group
						button.btn.btn-primary#addMatchButton(type="button", data-toggle="modal", data-target="#matchModal") Add Match
						button(type="button", class="btn btn-success", id="generateRoundRobinButton") Generate Round Robin
					hr
					table.table.table-striped.table-hover
						thead
							tr
								th Round
								th Home
								th Away
								th Date
								th Time
						tbody#matchTableBody
				.tab-pane.fade.in#createPlayers
					table.table.table-striped.table-hover
						thead
							tr
								th Name
								th Paid
						tbody#playerGroup
					button.btn.btn-default#addPlayerButton(type="button", data-toggle="modal", data-target="#playerModal") Add Player
					+genericModal("playerModal", "New Player")
						form#playerForm
							input(type="hidden", name="id", id='playerModal_id')
							.form-group
								label(for="player-name") Player Name
								input.form-control(type="text", id="player-name", name="name")
							.form-group
								label(for="email") Email Address
								input.form-control(type="email", id="email", name="email")
							.form-group
								label
									input(type="checkbox", name="paid", id="paid")
									|  Paid
							.form-group
								label(for="player-team") Team
								select.form-control#player-team(name="team")
									option(value="") No Team
									each team in teams
										option(value=team._id)= team.name
		include end